.textAlignCenter {
	text-align:center;
}
.view-left {
  border-right: 1px solid #b2b2b2;
}
.navbar{
	background:#1b222a url(../img/PhoodieMainBackgroundHorizontalFlip.jpg) no-repeat top center;
  	background-size: cover;
}

.buttons-row .button {
	background:#fff;
}

.page-content{
	background:#D0D0D0 ;
}

.panel-left .page-content .list-block li{
	color:#2CA9FD;
}

.list-block li{
	background: #F8F8F8;
}

.content-block-inner{
	background:#fff;
}

/* This will fix flicker navbar in left panel view */
.panel-left .page-content {
  	padding: 0;
}

.list-block .item-link{
	border-top: solid 1px #A0A0A0;
	border-bottom: solid 1px #A0A0A0;
}

.panel-left .page {
  margin-top: 44px;
  padding-bottom: 44px;
}
.panel-left .navbar {
  position: relative;
  margin-bottom: -44px;
  background:#1b222a url(../img/PhoodieMainBackground.jpg) no-repeat top center;
  background-size: cover;
}
/* Because we have panels-overlay inside of .views we need to fix its open position for right panel */
body.with-panel-right-reveal .panel-overlay {
  margin-left: 0;
}
/* iPad Vertical */
@media (min-width: 569px) {
  .panel.panel-left.panel-cover {
    width: 320px;
    left: -320px;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(320px, 0, 0);
    -ms-transform: translate3d(320px, 0, 0);
    transform: translate3d(320px, 0, 0);
  }
}
/* iPad Horizontal */
@media (min-width: 769px) {
  body .panel.panel-left.panel-cover {
    left: 0;
    width: 320px;
    display: block;
  }
  body.with-panel-left-cover .panel-left {
    -webkit-transform: translate3d(0px, 0, 0);
    -ms-transform: translate3d(0px, 0, 0);
    transform: translate3d(0px, 0, 0);
  }
  .view-main {
    float: right;
    width: -webkit-calc(100% - 320px);
    width: -moz-calc(100% - 320px);
    width: -ms-calc(100% - 320px);
    width: calc(100% - 320px);
  }
  /* Let's hide panel-opener when left panel is visible */
  .view-main .navbar .open-panel {
    display: none;
  }
}

#seating-grid {
  height: 100%;
  width: 100%;
  position: relative;
  margin: 25px;
}

.table {
	background-color: #00FF00;
	border-radius: 10px;
	height: 75px;
	margin: 0!important;
}

.table.preview {
  background-color: rgba(0,255,0,0.5);
}

.taken {
	background-color: #FE0000;
}

.empty {
	background-color: white;
	height: 75px;
}

.booth {
  border: 2px solid black;
}

.partial {
  border: 2px dashed black;
}
