body {
  position: relative;
  background:#30A1FD;
}

.initial-modals, .initial-modals:visited{
	color: #fff;
	padding:5px;
	text-decoration: none;
}

.initial-modals:focus{
	color: #fff;
	text-decoration:none;
	border:solid 2px white;
}

.initial-modals:hover{
	color: #fff;
	text-decoration:none;
	border:solid 2px white;
}

.em-text{
	color:#418EFC !important;
}

.col-md-4{
	margin-bottom:20px;
}

section{
	padding:40px 0 40px 0;
}

.main-logo{
	height: 100px;
	width: 100px;
}

#myModal{
	width:100%;
}

#login-text{
	z-index: 2;
	position: relative;
	bottom: 150px;
}

.jumbotron{
	background:#1b222a url(../img/PhoodieMainBackground.jpg) no-repeat top center;
	background-size: cover;
	color:#fff;
	height:650px;
	overflow:none;
	margin-bottom:0;
}

.jumbotron h1{
	margin-top:50px;
	font-size: 6.0em;
	margin-bottom:0;
}

.jumbotron h3{
	margin-top:0;
}

.jumbotron p{
	margin-bottom:40px;
	margin-top:20px;
	font-size: 2.0em;
	
}

.jumbotron img.app-btn{
	width:40%;
	margin-right:30px;
}

.jumbotron img.showcase-img{
	width:75%;
}

section#description{
	height:500px;
	/*background:#1b222a url(../img/foodAndWine.jpg) no-repeat top center;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(../img/foodAndWine.jpg);
	background-size: cover;
	color: #fff;
}

section#description p{
	font-size:1.2em;
}

section#description #quote{
	font-size:2.0em;
}

section#description .container{
	margin-top: 110px;
}

section#user-roles{
	height:1100px;
	background:#1b222a url(../img/PhoodieMainBackgroundFlip.jpg) no-repeat top center;
	background-size: cover;
	color: #fff;
}

section#user-roles .container{
	padding-top: 30px;
}

#customer{
	border-bottom: 1px solid white;
}

#cust-list{
	list-style: none;
}

#cust-list li{
	float: left;
}

#cust-img{
	background:#1b222a url(../img/happyCustomers.jpg) no-repeat top center;
	background-size: cover;
	height: 300px;
	width:300px;
	border-radius: 100%;
}

section#user-roles .container #cust-img h1{
	margin-top: 20px;
	padding-top: 120px;
}

#employee{
	border-bottom: 1px solid white;
}

#empl-img{
	background:#1b222a url(../img/waitressServing.jpg) no-repeat top center;
	background-size: cover;
	height: 300px;
	width:300px;
	border-radius: 100%;
}

#admin-img{
	background:#1b222a url(../img/restaurantOwner.jpg) no-repeat top center;
	background-size: cover;
	height: 300px;
	width:300px;
	border-radius: 100%;
}

.list-block .list-block-label{
	color:#fff !important;
}

.list-block .item-link.list-button{
	color:#fff;
}

.close-login-screen{
	color:#fff;
}

.close-login-screen:hover{
	color:#fff;
}

img.demo{
	width:100%;
	padding:3px;
	border: 1px solid #ccc;
}

section#feature{
	background:#1caa98;
	color:#fff;
	padding:40px;
	overflow: auto;
}

section#feature ul li{
	font-size: 22px;
	list-style: none;
	line-height: 2.0em;
}

section#feature ul{
	padding:0;
	margin:0;
}

section#title-bar{
	padding:0;
	margin:0;
	height:80px;
	background:#1caa98;
	color:#fff;
}

section#title-bar h1{
	margin-bottom:20px;
}

footer{
	background:#333;
	color:#fff;
	padding:30px 0 20px 0;
}

footer li{
	float:left;
	padding:0 10px 0 10px;
	list-style: none;
}

footer a {
	color:#fff;
}

footer p{
	float:right;
}

/* MEDIA QUERIES */

@media(min-width: 1200px){
	.jumbotron img.showcase-img{
	width:61%;
	margin:5px 0 0 40px;
}
}

@media(max-width: 991px){
	
	#login-text{
		bottom: 120px;
	}
	
	section#user-roles{
	height:1700px;
	background:#1b222a url(../img/PhoodieMainBackgroundFlip.jpg) no-repeat top center;
	background-size: cover;
	color: #fff;
}

section#user-roles .container{
	padding: 0;
}

section#user-roles .container .col-md-4{
	margin-left:210px;
}

section#user-roles .container #cust-img h1{
	margin-top: 40px;
    padding-top: 140px;
}

section#user-roles .container #empl-img h1{
	margin-top: 40px;
    padding-top: 80px;
}

section#user-roles .container #admin-img h1{
	margin-top: 40px;
    padding-top: 150px;
}
}

@media(min-width: 768px) and (max-width: 990px){
	.jumbotron img.app-btn{
		width:30%;
	}

	.jumbotron{
		height:400px !important;
		background-size:100% 100%;
	}

	.jumbotron h1{
		margin-top:10px;
	}
	
	section#user-roles{
		height:1700px;
	}
	
	section#description{
		height: 500px;
	}
}

@media(max-width: 768px){
	#login-text{
		bottom: 110px;
	}
	
	.jumbotron{
		height:300px !important;
		background-size:100% 100%;
	}

	.jumbotron h1{
		margin-top:10px;
	}
	
	section#user-roles .container .col-md-4{
		margin-left:180px;
	}
	
	section#description{
		height: 500px;
	}
}

@media(max-width: 500px){
	#login-text{
		bottom: 60px;
	}
	
	.jumbotron{
		height:300px !important;
		text-align: center;
	}

	.jumbotron img.app-btn{
		width:60%;
		margin:0 auto 30px auto;
		display:block;
	}
	
	section#user-roles{
		height:2000px;
	}

	section#user-roles .container .col-md-4{
		margin-left:60px;
	}	

	footer p{
		float:none;
		text-align: center;
		padding-top:20px;
	}
	
	section#description{
		height: 500px;
	}
	
	section#description #description-div{
		margin-top: 30px;
	}
}